{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
        <div class="p-5 bg-warning text-white">
            <h1 class="text-dark">WikiSports</h1>
        </div>

        {% include "navbar.html.twig" %}

        <div class="row">
            <div class="mt-4">
                <h4 class="title display-5">
                    Connexion
                </h4>
            </div>
        </div>
        <hr>
        <div class="row form">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                {{ form_start(formLogin) }}
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {{ form_row(formLogin.email) }}
                {{ form_row(formLogin.password) }}
                {{ form_row(formLogin.submit) }}
                {{ form_end(formLogin) }}
            </div>
        </div>

        {% include "footer.html.twig" %}

    </div>
{% endblock %}